<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Vehicles</title>
</head>
<body>
<div align="center">
    <h1>Car Seller | List of Vehicles</h1>
    <table border="5px solid">
        <tr style="padding: 5px 10px">
            <th>BRAND</th>
            <th>MODEL</th>
            <th>SPZ</th>
            <th>PRICE</th>
            <th>YEAR</th>
        </tr>

        <tr th:each="vehicle:${allcarlist}" style="padding: 5px 10px">
            <td th:text="${vehicle.brand}"></td>
            <td th:text="${vehicle.vehicleModel}"></td>
            <td th:text="${vehicle.SPZ}"></td>
            <td th:text="${vehicle.price}"></td>
            <td>
                <span th:if="${vehicle.year > 2020}" th:text="${vehicle.year}" style="color: green"></span>
                <span th:unless="${vehicle.year > 2020}" th:text="${vehicle.year}" style="color: red"></span>
            </td>
        </tr>
    </table>
</div>
</body>
</html>